.header__links {
    display: flex;
    align-items: flex-end;
    margin: 14px 0 8px;
    list-style-type: none;
}

@media screen and (min-width: 768px) {
    .header__links {
        margin-top: 18px;
        margin-bottom: 6px;
    }
}