.lead__title {
padding: 0 16px;
min-width: 288px;
max-width: 720px;
font-weight: 900;
font-size: 2.5rem;
line-height: 2.7rem;
text-align: center;
margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .lead__title {
        font-size: 6rem;
        line-height: 6.2rem;
    }
}