.place__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 0;
    }

.place__paragraph:first-child {
    margin-bottom: 26px;
    }

.place__paragraph:only-child {
    margin-bottom: 0;
    }

@media screen and  (min-width: 768px) {
    .place__paragraph:first-child {
        margin-bottom: 25px;
    }
}

@media screen  and (min-width: 1024px) {
    .place__paragraph {
        font-size: 18px;
        line-height: 29px;
        }
        
    .place__paragraph:first-child {
        margin-bottom: 27px;
    }
}