.cover {
    margin: 66px 0 0;
}

@media screen  and (min-width: 768px) {
    .cover {
        margin: 90px 0 0;
    }
}

@media screen  and (min-width: 1024px) {
    .cover {
        margin-top: 92px;
        margin-left: -48px;
        margin-right: -48px;
    }
}